aplicacionV1.txt
[{"id":"9e464653.169ed8","type":"ibmiot in","z":"6268fac3.0e9414","authentication":"boundService","apiKey":"8dbbb3c1.cb513","inputType":"appsts","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":113.01953125,"y":94.00390625,"wires":[["521cac24.e5c674"]]},{"id":"c1e31761.784da8","type":"comment","z":"6268fac3.0e9414","name":"Main Application","info":"","x":113.01953125,"y":54.00390625,"wires":[]},{"id":"69575043.dc179","type":"comment","z":"6268fac3.0e9414","name":"Context Definition","info":"Node RED carga las funciones cuando hacemos el deploy.","x":337.87669372558594,"y":51.28959655761719,"wires":[]},{"id":"123c18dc.407837","type":"debug","z":"6268fac3.0e9414","name":"message Error","active":false,"console":"false","complete":"true","x":1133.5913772583008,"y":213.03994846343994,"wires":[]},{"id":"ffbb4068.be32d","type":"function","z":"6268fac3.0e9414","name":"Deserializacion Hand Left","func":"function toDecimal(input, decimals){\n    var res =  parseFloat(Math.round(input * 100) / 100).toFixed(decimals);\n    //node.warn(res);\n    return res;\n}\n\n\nvar obj = msg.payload;\nvar users = obj.user;\nvar numDecimals = this.context.global.get(\"numDecimals\");\n\nif (users) {\n    var user = users[0];\n    \n    if(user) {\n        var body = user.bodyParts;\n        var item = null;\n        if(body){\n             body.forEach( \n                  function(p){ \n                      if(p.name == \"HandLeft\") {\n                          \n                          p.positions[0].x = toDecimal(p.positions[0].x, numDecimals);\n                          p.positions[0].y = toDecimal(p.positions[0].y, numDecimals);\n                          p.positions[0].z = toDecimal(p.positions[0].z, numDecimals);\n    \n                          item = p;\n                          item.leftHandState = user.leftHandState;\n                          \n                          node.send(item);\n                          return null;\n                      }\n                  }\n              );\n        }\n    }\n}","outputs":1,"noerr":0,"x":643.6980056762695,"y":261.82538509368896,"wires":[["6a315189.cf021"]],"outputLabels":["string"]},{"id":"34103567.a4fc5a","type":"function","z":"6268fac3.0e9414","name":"Throttling","func":"var packetId = msg.payload.packetID;\n\nif(packetId % this.context.global.get(\"numPacketsDebug\") == 0)  \n    node.warn(packetId);\n\nif(packetId % this.context.global.get(\"numPackets\") == 0)  \n    return node.send(msg);\n\n\n\n","outputs":1,"noerr":0,"x":426.26953887939453,"y":362.2539253234863,"wires":[["ffbb4068.be32d","95463c.9b2b99c8"]]},{"id":"6a315189.cf021","type":"switch","z":"6268fac3.0e9414","name":"Hand Left Parts","property":"_msgid","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"false","outputs":2,"x":905.0037117004395,"y":251.74996995925903,"wires":[["123c18dc.407837"],["88984ff.090ecb"]]},{"id":"521cac24.e5c674","type":"function","z":"6268fac3.0e9414","name":"Configure Service Skeleton","func":"\n\n/*********************************** Configuration *************************************/\n//this.context.global.queue = new Queue();\n//node.warn(\"is Queue Empty: \"+this.context.global.queue.getLength()+\" Is initialize \"+this.context.global.queue.isInitialize());\n//this.context.global.queue = new FastPriorityQueue();\n//this.context.global.mutex = new Mutex();\n\nthis.context.global.set(\"timeDelay\",1000);\nthis.context.global.set(\"numPackets\",15);\n//this.context.global.set(\"bodyPartSelect\", \"HandLeft\");\nthis.context.global.set(\"numDecimals\",3);\nthis.context.global.set(\"numPacketsDebug\",100);\nthis.context.global.set(\"initializeTone\",false);\nthis.context.global.set(\"listPuntos\",[]);\nthis.context.global.set(\"grosor\",1);\nthis.context.global.set(\"color\", [0, 0, 0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":369.09092712402344,"y":94.64675903320312,"wires":[[]]},{"id":"16d425d3.e374aa","type":"debug","z":"6268fac3.0e9414","name":"","active":false,"console":"false","complete":"true","x":356.26953887939453,"y":202.25392532348633,"wires":[]},{"id":"a59f863f.30f558","type":"ibmiot in","z":"6268fac3.0e9414","authentication":"apiKey","apiKey":"229a7643.4e5ada","inputType":"evt","deviceId":"kinectDeviceMDR","applicationId":"","deviceType":"kinectDeviceType","eventType":"+","commandType":"","format":"json","name":"IBM IoT Input Kinect","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":121.26953887939453,"y":268.2539119720459,"wires":[["34103567.a4fc5a","16d425d3.e374aa"]]},{"id":"89a16bb1.2ee728","type":"comment","z":"6268fac3.0e9414","name":"*******    Hand Left    *******","info":"","x":676.6981735229492,"y":203.682692527771,"wires":[]},{"id":"627a3d03.d98874","type":"debug","z":"6268fac3.0e9414","name":"message Error","active":false,"console":"false","complete":"true","x":1198.5196685791016,"y":425.2541046142578,"wires":[]},{"id":"95463c.9b2b99c8","type":"function","z":"6268fac3.0e9414","name":"Deserializacion Hand Right","func":"function toDecimal(input, decimals){\n    var res =  parseFloat(Math.round(input * 100) / 100).toFixed(decimals);\n    //node.warn(res);\n    return res;\n}\n\n\nvar obj = msg.payload;\nvar users = obj.user;\nvar numDecimals = this.context.global.get(\"numDecimals\");\n\nif (users) {\n    var user = users[0];\n    \n    if(user) {\n        var body = user.bodyParts;\n        var item = null;\n        \n        if(body){\n             body.forEach( \n                  function(p){ \n                      if(p.name == \"HandRight\") {\n                          \n                          p.positions[0].x = toDecimal(p.positions[0].x, numDecimals);\n                          p.positions[0].y = toDecimal(p.positions[0].y, numDecimals);\n                          p.positions[0].z = toDecimal(p.positions[0].z, numDecimals);\n    \n                          item = p;\n                          item.rightHandState = user.rightHandState;\n    \n                          node.send(item);\n                          return null;\n                      }\n                  }\n              );\n        }\n    }\n}","outputs":1,"noerr":0,"x":659.2932052612305,"y":464.15073585510254,"wires":[["25b3ccf7.fe3424"]],"outputLabels":["string"]},{"id":"25b3ccf7.fe3424","type":"switch","z":"6268fac3.0e9414","name":"Hand Right Parts","property":"_msgid","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"false","outputs":2,"x":946.9322280883789,"y":489.74198722839355,"wires":[["627a3d03.d98874"],["eb22dfbc.18bb4"]]},{"id":"2e56714e.e2188e","type":"comment","z":"6268fac3.0e9414","name":"*******    Hand Right    *******","info":"","x":675.6266937255859,"y":361.8969326019287,"wires":[]},{"id":"eb22dfbc.18bb4","type":"function","z":"6268fac3.0e9414","name":"SendNudesRight","func":"function HandRightProcesada(name, x, y, z, state) {\n    this.name = name;\n    this.x = x;\n    this.y = y;\n    this.z = z;\n    this.state = state;\n}\n\nvar state = msg.rightHandState;\n\nif(msg.isPresent === true && msg.isTracked === true && (state === \"Open\" || state === \"Closed\")) {\n    var obj = new HandRightProcesada(msg.name, msg.positions[0].x, msg.positions[0].y, msg.positions[0].z, state);\n    return obj;\n}\nreturn null;","outputs":1,"noerr":0,"x":1199,"y":550,"wires":[["f6a52299.c3566"]]},{"id":"f6a52299.c3566","type":"switch","z":"6268fac3.0e9414","name":"","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"Closed","vt":"str"},{"t":"eq","v":"Open","vt":"str"}],"checkall":"true","outputs":2,"x":1370.5003662109375,"y":554.417236328125,"wires":[["55c3e359.d62bfc"],["30d318e8.308328"]]},{"id":"55c3e359.d62bfc","type":"function","z":"6268fac3.0e9414","name":"PintaConversor","func":"function normalize(val){\n    return (val+1)/2\n}\nfunction obtainSize(val){\n    var a = (val-1)/(3-1);\n    return (a*45) + 5;\n}\n\nvar x = msg.x;\nvar y = msg.y;\nvar z = msg.z;\n\nmsg.x = parseInt(normalize(x)*1000);\nmsg.y = parseInt(normalize(y)*500);\nmsg.grosor = parseInt(obtainSize(z));\nreturn msg;","outputs":1,"noerr":0,"x":1564.5115966796875,"y":488.5227355957031,"wires":[["583734ff.d3ee8c","834fe4b7.58f108","2ece2c02.3c9f24","5841a4d3.32a3cc"]]},{"id":"30d318e8.308328","type":"function","z":"6268fac3.0e9414","name":"MoveConversor","func":"function normalize(val){\n    return (val+1)/2\n}\n\nvar x = msg.x;\nvar y = msg.y;\nvar z = msg.z;\n\nmsg.x = parseInt(normalize(x)*1000);\nmsg.y = parseInt(normalize(y)*500);\nmsg.grosor = -1;\nreturn msg;","outputs":1,"noerr":0,"x":1598.116943359375,"y":606.659423828125,"wires":[["ad6319f4.40e2f8","fbd1b4ff.f393b8"]]},{"id":"583734ff.d3ee8c","type":"debug","z":"6268fac3.0e9414","name":"","active":true,"console":"false","complete":"x","x":1830,"y":500,"wires":[]},{"id":"834fe4b7.58f108","type":"debug","z":"6268fac3.0e9414","name":"","active":true,"console":"false","complete":"y","x":1890,"y":460,"wires":[]},{"id":"2ece2c02.3c9f24","type":"debug","z":"6268fac3.0e9414","name":"","active":true,"console":"false","complete":"grosor","x":1710,"y":540,"wires":[]},{"id":"ad6319f4.40e2f8","type":"debug","z":"6268fac3.0e9414","name":"","active":false,"console":"false","complete":"x","x":1774.116943359375,"y":734.659423828125,"wires":[]},{"id":"fbd1b4ff.f393b8","type":"debug","z":"6268fac3.0e9414","name":"","active":false,"console":"false","complete":"y","x":1726.116943359375,"y":792.659423828125,"wires":[]},{"id":"b7eb3101.099f6","type":"template","z":"6268fac3.0e9414","name":"PaginaPaint","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Paint DVAS</title>\n    <script> \n        {{{payload.script}}}\n    </script>\n    </head>\n    <body onload=\"loader()\">\n        <h1>Paint rexulon!</h1>\n    \n        <canvas id=\"canvas\" width=\"1000\" height=\"500\">\n        </canvas>\n    </body>\n</html>\n\n\n\n\n","output":"str","x":2410,"y":380,"wires":[["a09b8e95.11f9f"]]},{"id":"a09b8e95.11f9f","type":"http response","z":"6268fac3.0e9414","name":"pagina Paint","statusCode":"","headers":{},"x":2690,"y":380,"wires":[]},{"id":"5841a4d3.32a3cc","type":"template","z":"6268fac3.0e9414","name":"JavasCriptTemplate","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var listPuntos = [];\nvar puntoActual;\nvar grosor;\nvar canvas;\n\nclass Punto{\n\tconstructor(x,y,grosor,rojo,verde,azul)\n\t{\n\t\tthis.x = x;\n\t\tthis.y = y;\n\t\tthis.grosor = grosor;\n\t\tthis.rojo= rojo;\n\t\tthis.verde = verde;\n\t\tthis.azul = azul;\n\t}\n}\n\nfunction loader(){\n\tthis.pintarFondo();\n    // pintar el dibujo\n\tthis.obtenerPuntoActual();\n\tthis.pintarDibujo();\n    //this.cargarMenu();\n\t// actualizarColorIzquierda\n\t// actualizarDerecha\n}\n\nfunction obtenerPuntoActual(){\n    this.listPuntos = this.context.global.listPuntos;\n    \n    let rgb = this.context.global.color;\n    this.grosor = this.context.global.grosor;\n\n\tthis.x = msg.x;\n    this.y = msg.y;\n    this.rojo= rgb[0];\n\tthis.verde = rgb[1];\n\tthis.azul = rgb[2];\n\n    listPuntos.push(new Punto(this.x, this.y, this.grosor, this.rojo , this.verde , this.azul));\n}\n\n\nfunction pintarDibujo(){\n    this.canvas = document.getElementById('canvas').getContext('2d');\n\t\n\tvar punto;\n\t\n\tfor(var i = 0; i < this.listPuntos.length; i++) {\n\t\tpunto = this.listPuntos[i];\n\n\t\tthis.canvas.fillStyle = \"rgba(\"+punto.rojo+\", \"+punto.verde+\", \"+punto.azul+\", 1)\";\n\n\t\tthis.canvas.beginPath(); // Iniciar trazo\n\t\tthis.canvas.arc(punto.x, punto.y, punto.grosor, 0, Math.PI * 2, true); // Dibujar un punto usando la funcion arc\n\t\t\n\t\tthis.canvas.closePath();\n\t\tthis.canvas.fill(); // Terminar trazo\n\t}\n\t\n}\n\nfunction cargarMenu(){\n    this.canvas =document.getElementById('canvas').getContext('2d');\n    \n    this.canvas.fillStyle = \"rgba(255, 0, 0, 0.1)\";\n    this.canvas.beginPath();\n    //circunferencia: arco de 360 grados\n    this.canvas.arc(950, 50, 48, 0, Math.PI * 2, true);\n\n    this.canvas.closePath();\n    this.canvas.fill();\n    \n    this.canvas.beginPath();\n    this.canvas.arc(950, 70, 20, 0, Math.PI * 1.5, true)\n    this.canvas.stroke();\n    \n    this.canvas.beginPath();\n    this.canvas.arc(950, 30, 20, Math.PI * 1, Math.PI * 0.5, true)\n    this.canvas.stroke();\n\t\n}\n\nfunction pintarFondo(){\n\tthis.canvas = document.getElementById('canvas').getContext('2d');\n    \n    this.canvas.strokeStyle = \"rgba(0, 0, 0, 1)\";\n    this.canvas.rect(0,0,1000,500);\n    this.canvas.stroke();\n    \n}","output":"str","x":2130,"y":380,"wires":[["b7eb3101.099f6"]]},{"id":"88984ff.090ecb","type":"function","z":"6268fac3.0e9414","name":"ConversionRGB","func":"var colores = [\n    [255, 0, 0], \n    [255, 127, 0], \n    [255, 255, 0], \n    [255, 255, 255], \n    [0, 255, 0], \n    [0, 0, 255], \n    [75, 0, 130], \n    [143, 0, 255], \n    [0, 0, 0]];\n\nfunction ColorRGB(r, g, b) {\n    this.r = r;\n    this.g = g;\n    this.b = b;\n}\n\nfunction normalize(val){\n    return (1.0*val+1)/2;\n}\n\nif(msg.isPresent === true && msg.isTracked === true && msg.leftHandState === \"Closed\") {\n    var tam = colores.length-1;\n    var y = Math.round(normalize(msg.positions[0].y)*tam);\n    \n    // Formula para encontrar el color\n    var r = colores[y][0];\n    var g = colores[y][1];\n    var b = colores[y][2];\n    \n    this.context.global.color = [r, g, b];\n}","outputs":1,"noerr":0,"x":1140,"y":320,"wires":[[]]},{"id":"8dbbb3c1.cb513","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"229a7643.4e5ada","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]